@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin:0;
    background-color:black;
    font-family: 'Montserrat';
    color:white;
    font-size:1.25rem;
    cursor:default;
}

.banner{
    background-color:white;
    font-size:7vh;
    color:black;
    font-family: 'Staatliches';
    padding:4vh 0;
    text-align:center;
}

.parent-container{
    display:flex;
    flex-direction:column;
    margin:7.5vh 0;
}

.container-one{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}
.container-two{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}

.box{
    width:20vh;
    height:20vh;
    background-color:white;
    margin:5vh 0;
    font-size:1rem;
    text-align:center;
    color:black
}

.box:hover{
    background-color:lightgray;
    color:black;
    cursor:default;
}

.button{
    width:40vh;
    background-color:white;
    color:black;
    padding:2.5vh;
    border-radius:5vh;
    text-align:center;
    margin:auto;
}

.button:hover{
    background-color:lightgray;
    color:black;
    cursor:pointer;
}

.weather-submit{
    margin: 10vh;
    text-align:center;
}

.now-playing{
    background-color:white;
    color:black;
    height:40vh;
    font-family: 'Staatliches';
    font-size:3rem;
    padding-left:5vh;
}

.music{
    margin: 5vh 0;
    text-transform: uppercase;
    
}

.song{
    animation-name:widen;
    animation-duration: 5s;
    letter-spacing: 1rem;
    margin-bottom:-5vh;
}

.artist{
    animation-name:widen;
    animation-duration: 5s;
    letter-spacing: 1rem;
    margin-top:0;
}

.song, .artist{
    background-color:white;
    color:black;
    font-family:'Lato';
    text-align:center;
    font-size:2rem;
}

.music-link{
    background-color: black;
    color:white;
    width:40vh;
    padding:2.5vh;
    border-radius:5vh;
    text-align:center;
    margin:auto;
}

.music-link:hover{
    background-color:rgb(50, 50, 50);
    cursor:pointer;
}

.display-weather{
    height:auto;
    display:flex;
    justify-content: space-around;
}

.display-weather .condition, .temperature, .humidity, .rain-chance, .sunrise, .sunset, .wind{
    font-size:1.5rem;
    margin-top:1vh;
    text-align:center;
}

.display-weather .condition-desc, .temperature-desc, .humidity-desc, .rain-chance-desc, .sunrise-desc, .wind-desc{
    font-size:1rem;
    margin-top:2.5vh;
    text-align:center;
}

.condition-desc{
    width:80%;
    margin:0 auto;
}

form{
    margin:5vh 0;
    display:flex;
    flex-direction:column;  
}

form label{
    font-family: Montserrat;
    font-weight:bold;
}

form input{
    width:25%;
    margin:0 auto;
    cursor: text; 
    background-color: white;
    border-radius:1vh;
    color:black;
}

iframe{
    margin: auto;
}

@keyframes widen{
    from{
        letter-spacing: 0;
        color:white;
    }
    to{
        letter-spacing: 1rem;
        color:black;
    }
}